body {
  background: rgb(85, 144, 189);
  background: linear-gradient(
    90deg,
    rgb(209, 109, 15) 0%,
    rgb(255, 208, 0) 54%,
    rgb(255, 175, 1) 82%
  );
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Oswald", sans-serif;
}
